.mainWrap    {
    /* height: calc(100vh - 111px); */
    height: 100vh;
}

/* Nav Section */
.mainNav-container {
    display: flex;
    border-radius: 0 0 30px 0;
    justify-content: space-between;
}
.MainLogoImg {
    position: absolute;
    top: 30px;
    left: 10%;
}
.Main-navLogin {
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    top: 32px;
    right: 5%;
    cursor: pointer;
}
.randomProfile {
    position: absolute;
    right: 9%;
    top: 27px;
    cursor: pointer;
}
.Main-navLogout {
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    top: 32px;
    right: 5%;
    color: #000000;
}


/* Main Section */
.Main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
}
.mainBgImg {
    position: relative;
    width: 100%;
}
.mainBgUnion {
    position: absolute;
    left: 5%;
    z-index: -1;
}
.mainBgStar {
    position: absolute;
    top: 250px;
    right: 10%;
    z-index: -1;
}

.main-info {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.main-searchbar {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.searchbarWrap {
    position: relative;
    margin-right: 25px;
}
.searchBtn {
    position: absolute;
    width: 40px;
    height: 40px;
    border: none;
    background-color: inherit;
    padding: 12px 0 0 5px;
    cursor: pointer;
}
.searchbarWrap input {
    width: 450px;
    height: 40px;
    border: none;
    border-radius: 16px;
    background-color: #f5f5f5;
    padding-left: 50px;
}
.searchbarWrap input::placeholder {
    font-weight: 600;
}
.addScrapBtn {
    background-color: #489ae7;
    color: white;
    border: none;
    border-radius: 16px;
    height: 40px;
    width: 150px;
    font-weight: 700;
    cursor: pointer;
}
.addScrapBtn:hover {
    background-color: white;
    color: #489ae7;
    border: 3px solid #489ae7;
    border-radius: 16px;
    font-weight: 900;
}

/* File Section */
.main-fileWrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    margin-top: 50px;
    width: 60%;
    height: auto;
}
#fileBox {
    border-radius: 30px;
    width: 168px;
    height: 90px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.boxHeader {
    color: #000000;
}
.fileBox-news {
    background-color: #ffd392;
}
.fileBox-food {
    background-color: #ffac92;
}
.fileBox-arts {
    background-color: #ffcfe8;
}
.fileBox-finance {
    background-color: #92caff;
}
.fileBox-tech {
    background-color: #ff929f;
}
.fileBox-health {
    background-color: #a192ff;
}
.fileBox-business{
    background-color: #dc92ff;
}
.fileBox-etc {
    background-color: #e1e2e3;
}
.boxHeader{
    font-size: 18px;
    font-weight: 700;
}
.fileIcon {
    margin-top: 25px;
    width: 70px;
    height: 70px;
}
.gotoShareWrap {
    margin: 80px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
}
.gotoSPBtn{
    margin-left: 8px;
    color: #489ae7;
    cursor: pointer;
}



