.h-searchbarWrap {
    position: relative;
    margin-right: 25px;
}
.h-searchBtn {
    position: absolute;
    width: 40px;
    height: 40px;
    border: none;
    background-color: inherit;
    padding: 12px 0 0 15px;
    cursor: pointer;
}
.h-searchbarWrap > input {
    width: 351px;
    height: 40px;
    border: none;
    border-radius: 16px;
    background-color: #f5f5f5;
    padding-left: 50px;
}
.h-searchbarWrap input::placeholder {
    font-weight: 600;
}