/* header{
    width: 100%;
    height: 150px;
    border-bottom-right-radius:  30px; 
    background-color: #E1E3E3 ;
} */
#tlogo{
    position: absolute;
    top: 21px;
    left: 130px;
}
#ttext{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 130px;
} 
#ttitle{
    margin-right: 20px;
    font-size: 24px;
}
#tinfo{
    font-size: 16px;
    color: #5D5E5F;
}
#ring{
    position: absolute;
    left: -20px;
}
#light{
    position: absolute;
    right: 0px;
}
#searchbar{
    position: absolute;
    top: 92px;
    left: 840px;
}