.Footer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer-logo {
    font-size: 18px;
    font-weight: 700;
}
.footer-address {
    margin-top: 5px;
    font-size: 14px;
    font-size: 600;
}
.footer-contact {
    margin-top: 5px;
    font-size: 14px;
    font-size: 600;
}
