.Nav-container {
    background-color: #bedcf3;
    display: flex;
    border-radius: 0 0 30px 0;
    justify-content: space-between;
}
.bg-Ring {
    position: relative;
}
.Nav-logo {
    position: absolute;
    top: 25px;
    left: 65%;
}

.bg-Light {
    position: relative;
    margin: 15px 30px 0 0;
}
.Link-login {
    color: black;
    text-decoration: none;
}
.Nav-loginBtn {
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    top: 15px;
    right: 65%;
}
.Nav-signupBtn {
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    top: 15px;
    right: 15%;
}