#note-what-for {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px ;
  font-size: 1.5rem;
  font-weight: normal;

  > span:nth-last-child(1) {
    font-size: 1rem;
    cursor: pointer;
    transition: 0.25s;
  
  }
}
#note-what-for:hover{
  color: #E4F1FA;
}
#note-title {
  width: 90%;
  border: 1px solid #000000;
  outline: none;
  border: none;
  resize: none;
  font-size: large;
  margin-left: 20px;
}
#note-from {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#note-text ,#note-link {
  width: 490px;
  height: 70px;
  font-size: 1rem;
  border-radius: 16px;
  background-color: #F5F5F5;
  border: none;
  resize: none;
  margin: 10px 0px;
  padding-left: 10px;
}
#file-select{
  height: 40px;
  width: 490px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  background-color: #E4F1FA;
  margin: 10px 0px;
  padding-left: 10px;
}
#note-file{
  padding-left: 10px;
}
.foot-btn{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: 5px;
  margin: 0px 10px;
}
#date-modal{
  font-size: 12px;
  color: #848586;
  position: absolute;
  left: 10px;
}
.modal-c-btn , .modal-d-btn{
  height: 17px;
  width: 40px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  background-color: white;    
}
.modal-d-btn{
  color: #E57373;
}
#title_heart_modal{
display: flex;
flex-direction: row;
align-items: center;
width: 100%;
margin: 10px 20px;
}
#heart{
width: 24px;
height: 24px;
}
#cat_type{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 50px;
}
#cat_modal{
  width: 76px;
  height: 31px;
  border-radius: 8px;
  background-color: #ffd392ad;
  text-align: center;
  margin-right: 10px;
}
#type_modal{
  width: 76px;
  height: 31px;
  border-radius: 8px;
  background-color: #BEDCF3;
  color: #3661A5;
  text-align: center;
  margin-right: 10px;
}
#pub_modal{
  width: 76px;
  height: 31px;
  border-radius: 8px;
  background-color: #BEBFC0;
  color: white;
  text-align: center;
}

