.postsShareList .list-btn {
    height: 130px;
    width: 208px;
    border: none;
    border-radius: 30px;
    background-color: rgba(248, 249, 250, 1); 
    font-family: 'Pretendard-Regular', 'sans-serif';
    font-size: large;
}
.postsShareList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 880px;
    height: 570px;
    z-index: -1;;
}
.pSList{
    height: 170px;
    width: 25%;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    
}
span{
    margin-left: 5px;
}
#list-share-box-title{
    font-size: 16px;
    margin: 5px;
}
#list-share-box-date{
    font-size: 12px;
    color: #848586;
}

